.containerReport {
  display: flex;
  justify-content: space-between;
}

.leftPanel {
  width: 30%;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.rightPanel {
  width: 70%;
  padding: 20px;
}

.zagolovokReport {
  font-size: 24px;
  margin-bottom: 20px;
}

.inputReportStartDate, .inputReportEndDate, .inputReportType {
  margin-bottom: 15px;
}

.buttonCreateReport {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.loadingText {
  color: blue;
}

.errorText {
  color: red;
}

.zagolovokReportsList {
  font-size: 20px;
  margin-top: 30px;
}

.selectedReport {
  background-color: #f0f0f0;
}

.reportViewer {
  width: 100%;
  height: 100vh;
  border: none;
}


.reportsList {
  list-style: none;
  padding: 0;
  max-height: 340px; /* Примерная высота для 6 элементов, каждый ~40px */
  overflow-y: scroll; /* Заменяем auto на scroll для постоянного отображения */
  border: 1px solid #ccc; /* Опционально: для наглядности */
}

.reportsList li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between; /* Для размещения текста и иконки */
  align-items: center;
}
