.headerContainer {
  display: flex;
  background-color: #7eb2b8;
  width: 100%;
  padding: 10px 20px;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: row;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    padding: 1px;
  }
}

.zagolovok {
  color: #edf1c0;
  margin-left: 18px;
  font-size: 40px;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    font-size: 28px;
    margin-left: 0;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 900; // Увеличена жирность шрифта для мобильной версии
  }
}

.buttons {
  display: flex;
  gap: 10px;
  margin-left: auto;

  @media (max-width: 768px) {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    gap: 5px;
  }
}

.buttonHeader {
  text-decoration: none;
  color: #edf1c0;
  font-size: 25px;
  font-weight: 700;
  padding: 32px 35px;
  border-radius: 5%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-items: center;
  transition: color 0.3s ease, background-color 0.3s ease;
  display: flex;

  @media (max-width: 768px) {
    font-size: 18px;
    padding: 12px 20px;
    justify-content: flex-start;
    width: 100%;
  }
}

.buttonHeader:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.buttonHeader:focus {
  outline: none;
}

.personalCabinetText {
  display: none;

  @media (max-width: 768px) {
    display: inline;
  }
}

.iconShift {
  margin-bottom: -2px;
  margin-right: 10px;

  @media (max-width: 768px) {
    margin-right: 8px;
  }
}