/* Стили для родительских элементов */
html, body {
  min-height: 100vh;
    margin: 0;
  display: flex;
  flex-direction: column;
}

/* Футер будет фиксирован внизу */
.footerContainer {
  margin-top: auto; /* Отталкивает футер вниз */
  display: flex;
  justify-content: center;
  background-color: rgb(126, 178, 184);
  width: 100%;
  padding: 10px 20px;
  position: relative;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #edf1c0;
  font-size: 14px;
  margin-top: 10px;
}

.links a {
  text-decoration: none;
  color: #edf1c0;
  font-size: 14px;
  transition: color 0.3s ease;
}

.links a:hover {
  color: #fcffda;
}

.info {
  text-align: center;
  margin-bottom: 10px;
}

.info p {
  margin: 5px 0;
}

.links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}